@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<html>
<head>
    <title>Read Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/css/Read.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="contant-section">
                <div class="title">
                    <h1>@Model.Product.Title</h1>
                </div>
                <div class="contant">
                    <h3>@Model.Product.Id</h3>
                    <p>@Model.Product.Description</p>
                    <div class="button">
                        <a href="">Read More...</a>
                        <br />
                        <br />
                        <p>
                            <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
                            <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-primary">Delete</a> &nbsp; &nbsp;
                        </p>
                    </div>
                </div>
                <div class="social">
                    <i class="fa fa-share-square"></i> Share Us on Social Media: <br />
                    <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/login/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/facebook-icons/social-facebook-icon-small-flat-iconset-1.png"></a>&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/login" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png"></a>&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/accounts/login/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/instagram-icon-png/instagram-android-app-icon-2.png"></a>&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/youtube-logo-blue-pictures-png-28.png"></a>&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.whatsapp.com/" target="_blank"><img height="25" width="25" alt="User-added image" src="https://www.freepnglogos.com/uploads/whatsapp-logo-transparent-png-21.png"></a>
                    </span>
                </div>
            </div>
            <div class="image-section">
                <img src="@Model.Product.Image" alt="Image for @Model.Product.Title">
            </div>
        </div>
    </div>
</body>
</html>

@{
    // If there are Comments, show them.
    if (Model.Product.CommentList.Count > 0)
    {
        <br />
        <br />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.Product.CommentList)
                {
                    <tr>
                        <td>@comment.Comment</td>
                        <td><a asp-page="DeleteComment" asp-route-CommentId="@comment.Id" asp-route-ProductId="@Model.Product.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}